/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/
html
	overflow-x hidden
.row
	margin 0
	padding 0
	
.clear
	clear both	
a
	text-decoration none
	
		
	img
		border 0
		display inline-block
	
body
	color $Blanco
	font-size 1.3em
	

h1, h2, h3
	font-family $Black

p
	font-family $Black

.conte-inicio
		background url("../images/img-tramaMor.png"), linear-gradient(to bottom, rgba(53,0,49,1.0) 0%,rgba(42,22,86,1.0) 100%)  
		position relative
		z-index 2

.contene-logoBBB
	margin-top -44px !important
	opacity 0
		
.form-datos-AC
		background url("../images/img-tramaMor.png"), linear-gradient(to bottom, rgba(53,0,49,1.0) 0%,rgba(42,22,86,1.0) 100%)  
		position relative
		
.cont-titulo
		padding-top 20px
		text-align center	

.conte-pasos
		background linear-gradient(to bottom, rgba(0,123,186,1.0) 0%,rgba(0,75,141,1.0) 100%)
		position relative
		z-index 1 
	
.conte-pasos, .conte-subir-foto
		padding-top 102px
		
.conte-subir-foto, .conte-galeria
	position relative
	z-index 0

.pasos-concurso
	color $Blanco
	font-size 4rem
	line-height 4rem
	margin 0

.pasos-concurso2
	color $Blanco
	font-size 3.3rem
	line-height 3.3rem
	margin -8px 0 0 0

.conte-paso2
	padding-top 74px

.conte-finalM
	path("img-FinMor.png")
	background-repeat no-repeat
	bottom 0
	height 100%
	pointer-event none
	position absolute
	width 100%

.conte-finalA
	path("img-FinAzul.png")
	background-repeat no-repeat
	bottom 0
	height 100%
	pointer-event none
	position absolute
	width 100%
	z-index 0
	
.conten-foto-sub
	background url("../images/img-SubirFoto.png"), $Blanco
	border 1px solid $Gris
	height 400px
	//width 360px
	
.conte-inicioM
	path("img-InicioMor.png")
	background-repeat no-repeat
	height 140px
	pointer-event none
	width 100%
	z-index 0

.cont-tituloG 
	padding-top 143px

.con-titulo-Galeria
	background url("../images/img-tramaAzul.png"), linear-gradient(to bottom, rgba(0,123,186,1.0) 0%,rgba(0,75,141,1.0) 100%)

.thumb
	padding 0
	margin 0
	cursor pointer
	
.cont-infoFotoM
	background $Morado
	height 77px
	padding 15px
	
.cont-infoFotoA
	background $Azul
	height 77px
	padding 15px

.nombre-usua-foto
	font-size 2rem
	line-height 2rem

.conte-nombreU
	border-right 1px solid $Blanco
	float left
	height 51px
	margin-right 10%
	overflow hidden
	width 70%

.conte-votosU
	float left
	text-align center
	width 20%
	
	
em.titulo-votos
	font-family $Black
	font-size 1.8rem
	line-height 1.8rem

p.text-numero-votos
	font-family $Black
	font-size 3rem
	margin 0
	padding 

.conte-btn-votar
	background rgba(0,0,0,0.3)
	display none
	height 100%
	position absolute
	top 0
	width 100%

.img-vota
	width 133px
	height 119px
	margin 20% auto

.cont-icono-votar
	height 77px
	margin -64px auto 0
	width 160px

.cont-BBBMA-1
	width 502px
	height 939px
	position absolute
	top 84%
	left 56%
	z-index 10
	

.cont-iconoV-Fb, .cont-iconoV-Tw
	background-position 0 0
	float left
	height 77px
	width 77px
	cursor pointer
	overflow hidden

	