.container 
  position relative
  width 100%


.scene 
  padding 0
  margin 0

.wrapper
	min-height 460px
	position absolute
	overflow hidden
	display table
	height 100%
	width 100%
	left 0
	top 0

.hanger 
	-webkit-transform-origin 0% 0%
 	-moz-transform-origin 0% 0%
  	transform-origin 0% 0%
   	position absolute
   
.hanger.position-1
	left 5% !important
	top 10% !important

.hanger.position-2
	left 50% !important
	top 80% !important

.hanger.position-3
	left 80% !important
	top 60% !important
.hanger.position-4
	left 40% !important
	top 20% !important

.hanger.position-5
	left 70% !important
	top 2% !important
.hanger.position-6
	left 20% !important
	top 2% !important