@media (max-width: 1024px) 
	.cont-BBBMA-1
		top 97%
		left 56%
		
	#texto-inicial, #texto-pasos
		height 300px !important
		
@media (max-width: 970px) 
	.cont-BBBMA-1
		display none
		
	.conte-logoColom
		margin-left 19% !important
		width 24% !important
	
	.nav.nav-tabs
		margin-left 6% !important
		width 100% !important
	
	.texto-share
		font-size 2rem !important
		margin 26px 23px 0 0
		width 19%
		
@media (max-width: 920px)
	.cont-BBBMA-1
		display none
		
	.conte-logoColom
		margin-left 35%
		width 24% !important
	
	.nav.nav-tabs
		margin-left 29%
		width 39%
	
	.texto-share
		font-size 3rem

@media (max-width: 530px) and (min-width: 320px)
	.cont-BBBMA-1
		display none
		
	.conte-logoColom
		margin-left 32%
		width 42% !important
	
	.nav.nav-tabs
		margin-left 27%
		width 56%
	
	.contene-logoBBB
		margin -110px 0 0 18% !important
	
	.cont-pasos-BBB
		margin-left 15%
		width 70%
	
	.cont-flecha-A
		margin-left 36%
	
	#scene2 .position-1
		opacity 0
		
	#scene2 .position-2
		left -9% !important
		top 80% !important
	
	#scene2 .position-12
		left 0% !important
		top 32% !important
		
	.position-4
		display none !important
	
	.cont-flecha-M
		margin 20% 0 0 40%
	
	.texto-share
		font-size 2rem
		margin 26px 23px 0 0
		width 19%
	
	p.text-numero-votos
		line-height 2.5rem
		

@media (max-width: 320px)
	.cont-BBBMA-1
		display none
		
	.conte-logoColom
		margin-left 12%
		width 90% !important
		
	.nav.nav-tabs
		margin-left 0%
		width 97%

	.contene-logoBBB
		margin -56px 0 0 19% !important
		
	.cont-pasos-BBB
		margin-left 5%
		width 90%
	
	.cont-flecha-A
		margin 9px 0 -64px 24%
	#scene
		display none
		
	#scene2
		 
		width 1px !important

	.cont-flecha-M
		margin 40% 0 -83px 27%
	
	#scene2 .position-1 
		opacity 0
		width 10%

	#scene2 .position-2
		left 2% !important
		opacity 0
		width 10%

	#scene2 .position-3
		left 5% !important
		opacity 0
		
	#scene2 .position-4
		left 2% !important
		width 1px !important
		opacity 0

	#scene2 .position-5
		left 6% !important
		top 52% !important
		
	#scene2 .position-6
		left 10% !important
		top 100% !important
		
	#scene2 .position-7
		left 20% !important
		top 94% !important

	#scene2 .position-8
		left 42% !important
		top 37% !important

	#scene2 .position-9
		left 3% !important
		top 15% !important

	#scene2 .position-10
		left 5% !important
		top 80% !important

	#scene2 .position-12
		left 10% !important
		top 50% !important
		
	#scene2 .position-13
		left 0% !important
		width 5px !important
		opacity 0
	
	.texto-share
		font-size 2rem
		margin 26px 23px 0 0
		width 19%
	
	.conte-datos-partici .btn-general
		font-size 1.7rem
	
	.conten-compartir
		margin 20px -5px
	
	.titulo-votos
		font-size 1.2rem
		line-height 1rem
	
	p.text-numero-votos
		font-size 2rem
		line-height 1.5rem
	
	.nombre-usua-foto
		font-size 1.3rem
		line-height 1.3rem
		margin-top 12px
	
	.cont-icono-votar
		width 100%
		margin -24% 0 0 12%

	.img-vota
		max-width 84px
		max-height 75px
		
	.cont-iconoV-Fb, .cont-iconoV-Tw 
		max-width 50px
		max-height 50px
		overflow hidden
		
	.conten-foto-sub
		background-position -72px -19px
		
	.cont-iconoV-Fb img, .cont-iconoV-Tw img
		max-width 45px
	
	#texto-inicial, #texto-pasos
		height 200px !important
	
	#texto-acudiente, #texto-partici
		height 156px !important
	
		