@media (max-width: 970px) 
	.conte-logoColom
		margin-left 35%
		width 24% !important
	
	.nav.nav-tabs
		margin-left 29%
		width 39%
		
@media (max-width: 920px)
	.conte-logoColom
		margin-left 35%
		width 24% !important
	
	.nav.nav-tabs
		margin-left 29%
		width 39%

@media (max-width: 530px) and (min-width: 320px)
	.conte-logoColom
		margin-left 32%
		width 42% !important
	
	.nav.nav-tabs
		margin-left 27%
		width 56%
	
	.contene-logoBBB
		margin -110px 0 0 18% !important
	
	.cont-pasos-BBB
		margin-left 15%
		width 70%
	
	.cont-flecha-A
		margin-left 36%
	
	#scene2 .position-1
		opacity 0
		
	#scene2 .position-2
		left -9% !important
		top 80% !important
	
	#scene2 .position-12
		left 0% !important
		top 32% !important
		
	.position-4
		display none !important
	
	.cont-flecha-M
		margin 20% 0 0 40%
		

@media (max-width: 320px)
	.conte-logoColom
		margin-left 12%
		width 90% !important
		
	.nav.nav-tabs
		margin-left 0%
		width 97%

	.contene-logoBBB
		margin -150px 0 0 19% !important
		
	.cont-pasos-BBB
		margin-left 5%
		width 90%
	
	.cont-flecha-A
		margin -42px 0 0 24%
	
	#scene
		display none
	
	.cont-flecha-M
		margin 40% 0 -83px 27%
	
	.hanger.position-1
		opacity 0 

	.hanger.position-2
		left 89% !important
		top 30% !important

	.hanger.position-3
		left 70% !important
		top 100% !important
		
	.hanger.position-4
		left 80% !important
		top 100% !important

	.hanger.position-5
		left 70% !important
		top 2% !important
		
	.hanger.position-6
		left 30% !important
		top 100% !important
		
	.hanger.position-7
		left 20% !important
		top 94% !important

	.hanger.position-8
		left 50% !important
		top 74% !important

	.hanger.position-9
		left 60% !important
		top 50% !important

	.hanger.position-10
		left 5% !important
		top 80% !important

	.hanger.position-12
		left 60% !important
		top 50% !important
		
	.hanger.position-13
		left 2% !important
		top 90% !important