//Menu
div.col-lg-12.col-md-12.col-sm-12.col-xs-12
	nav.bar
		ul#navegacion.nav.nav-tabs
				li
					a(href="#")
						img(src="/images/img-icoFace.png", alt="Facebook")

				li
					a(href="#")
						img(src="/images/img-icoTw.png", alt="Facebook")


				li
					a(href="#")
						img(src="/images/img-icoInsta.png", alt="Facebook")




				
///-Menu