//Menu
nav.bar
	ul#navegacion.nav.nav-tabs
		li.col-xs-3
			a(href="https://www.facebook.com/BBBum/",target="_blank")
						+image("img-icoFace.png")(alt="Facebook")(class="img-responsive")

		li.col-xs-3
			a(href="https://twitter.com/Bon_Bon_Bum",target="_blank")
						+image("img-icoTw.png")(alt="Twitter")(class="img-responsive")

		li.col-xs-3
			a(href="https://www.instagram.com/bonbonbumoficial/")
						+image("img-icoInsta.png")(alt="Facebook")(class="img-responsive")


///-Menu