extends partials/base

block title
	-var titulo = "";
	title 

block content

	section.conte-inicio.cont-gracias
		div.row
			div.col-lg-6.col-md-6.col-sm-10.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-1.texto-gracias
				p.
					¡Gracias por participar y demostrar toda tu #ActitudFresh con el nuevo Bon Bon Bum Morazul Fresh!


block Scripts